*~
*.elc
elpa/magit-1.0.0/magit-autoloads.el
auto-save-list/*
ac-comphist.dat
url
swank
.mc-lists.el
nrepl-history
/.erc-auth
history
.cask
/bookmarks
/places
/target/repl-port
/tramp
/projectile-bookmarks.eld
/cider-history
/personal