[submodule "site-lisp/nrepl"]
	path = site-lisp/nrepl
	url = git@github.com:kingtim/nrepl.el.git
[submodule "site-lisp/ac-nrepl"]
	path = site-lisp/ac-nrepl
	url = git@github.com:purcell/ac-nrepl.git
