[submodule "site-lisp/nrepl"]
	path = site-lisp/nrepl
	url = git@github.com:kingtim/nrepl.el.git
[submodule "site-lisp/ac-nrepl"]
	path = site-lisp/ac-nrepl
	url = git@github.com:purcell/ac-nrepl.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git@github.com:technomancy/clojure-mode.git
