*~
*.elc
/elpa
auto-save-list/*
ac-comphist.dat
url
swank
.mc-lists.el
nrepl-history
/.erc-auth
history
.cask
/bookmarks
/places
/target/repl-port
/tramp
/projectile-bookmarks.eld
/cider-history
/personal
/vendor/cider-spy
/.erc-auth.bak
/jabber-avatar-cache/
/smex-items
/projectile.cache
elpa
elpa
